body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(35, 33, 33);
}

.container{
    text-align:center;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button{
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 5px;
}

.boas-vindas{
    margin-top: 20px;
}